<div class="clr-row" style="justify-content: center">
  <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
    <div class="card">
      <div class="card-header">Asset Details</div>
      <div class="card-block">
        <div *ngIf="asset">
          <div class="card-text">
            Asset Id: {{asset.id}}
          </div>
          <div class="card-text">
            Asset name: {{asset.name}}
          </div>
          <div class="card-text">
            Asset exchange: {{asset.exchange}}
          </div>
          <div class="card-text">
            Asset isin: {{asset.isin}}
          </div>
          <div class="card-text">
            Asset ticker: {{asset.ticker}}
          </div>
          <div class="card-text">
            Asset website: {{asset.website}}
          </div>
        </div>
        <div *ngIf="!asset">
          <div class="card-text">
            No details found!
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link" (click)="navigateBack()">Back</button>
      </div>
    </div>
  </div>
</div>
